workspace/microweb/WebContent/WEB-INF/config/schema/site.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Tue May 29 2018 14:24:10 GMT+0100 (GMT Summer Time) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->

	<xs:element name="site" type="site"></xs:element>
	
    
	<xs:complexType name="site">
		<xs:sequence>
			<xs:element name="properties" type="properties"></xs:element>
			<xs:element name="navigations" type="navigations"></xs:element>
		</xs:sequence>
		<xs:attribute ref="name" use="required"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="properties">
    	<xs:sequence>
    		<xs:element name="property" type="property" maxOccurs="unbounded" minOccurs="0"></xs:element>
    	</xs:sequence>
    </xs:complexType>
	
    <xs:complexType name="property">
    	<xs:attribute ref="name" use="required"></xs:attribute>
    	<xs:attribute ref="value" use="required"></xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="section">
    	<xs:sequence>
    		<xs:element name="section" type="section" maxOccurs="unbounded" minOccurs="0"></xs:element>
    	</xs:sequence>
    	<xs:attribute ref="id" use="required"></xs:attribute>
    	<xs:attribute ref="label" use="required"></xs:attribute>
    	<xs:attribute ref="slug" use="required"></xs:attribute>
    	<xs:attribute ref="site-nav"></xs:attribute>
    	<xs:attribute ref="page"></xs:attribute>
    </xs:complexType>
    
    <xs:attribute name="name" type="xs:string"></xs:attribute>
    <xs:attribute name="value" type="xs:string"></xs:attribute>
    <xs:attribute name="id" type="xs:string"></xs:attribute>
    <xs:attribute name="label" type="xs:string"></xs:attribute>
    <xs:attribute name="slug" type="xs:string"></xs:attribute>
    <xs:attribute name="site-nav" type="xs:boolean"></xs:attribute>
    <xs:attribute name="page" type="xs:string"></xs:attribute>





    <xs:complexType name="navigations">
    	<xs:sequence>
    		<xs:element name="section" type="section" maxOccurs="unbounded" minOccurs="0"></xs:element>
    	</xs:sequence>
    </xs:complexType>
</xs:schema>