workspace/microweb/WebContent/WEB-INF/config/schema/sites-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <!-- XML Schema Generated from XML Document on Tue May 29 2018 14:24:10 GMT+0100 (GMT Summer Time) -->
      <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
      <xs:element name="sites-config">
            <xs:complexType>
                  <xs:sequence>
                        <xs:element name="sites">
                              <xs:complexType>
                                    <xs:sequence>
                                          <xs:element name="site" maxOccurs="unbounded">
                                                <xs:complexType>
                                                      <xs:attribute name="location" type="xs:string"></xs:attribute>
                                                      <xs:attribute name="config" type="xs:string"></xs:attribute>
                                                </xs:complexType>
                                          </xs:element>
                                    </xs:sequence>
                              </xs:complexType>
                        </xs:element>
                        <xs:element name="domains">
                              <xs:complexType>
                                    <xs:choice maxOccurs="unbounded">
                                    	<xs:element name="canonical" type="domainType" maxOccurs="unbounded"/>
                                    	<xs:element name="alias" type="domainType" maxOccurs="unbounded"/>
                                        <xs:element name="redirect" type="redirectType" maxOccurs="unbounded"/>
                                    </xs:choice>
                              </xs:complexType>
                        </xs:element>
                  </xs:sequence>
            </xs:complexType>
      </xs:element>

	  <xs:complexType name="domainType">
			<xs:attribute name="name">
				<xs:simpleType>
			        <xs:restriction base="xs:string">
			            <xs:minLength value="1"/>
			        </xs:restriction>
			    </xs:simpleType>
			</xs:attribute>
        	<xs:attribute name="site">
        		<xs:simpleType>
			        <xs:restriction base="xs:string">
			            <xs:minLength value="1"/>
			        </xs:restriction>
			    </xs:simpleType>
        	</xs:attribute>
	  </xs:complexType>
	  
	  <xs:complexType name="redirectType">
		  	<xs:complexContent>
			  	  <xs:extension base="domainType">
				  	  	<xs:attribute name="scheme" type="xs:string"></xs:attribute>
				  	  	<xs:attribute name="port" type="xs:string"></xs:attribute>
				  	  	<xs:attribute name="uri" type="xs:string"></xs:attribute>
				  	  	<xs:attribute name="queryString" type="xs:string"></xs:attribute>
			  	  </xs:extension>
		  	</xs:complexContent>
	  </xs:complexType>

</xs:schema>